#MBTA API
MBTA_API_KEY=your_api_key_here

#PostgresSQL
DB_HOST=YOUR_RDS_ENDPOINT_HERE
DB_PORT=5432
DB_NAME=postgres
DB_USER=mbta_user
DB_PASSWORD=your_password_here

#pipeline_settings
FETCH_INTERVAL_MINUTES=2
LOG_LEVEL=INFO