# API & HTTP
requests==2.31.0
urllib3==2.1.0

# Database
psycopg2-binary==2.9.9

# Environment & Config
python-dotenv==1.0.0

# Airflow
apache-airflow==2.9.0

# Airflow Postgres provider
apache-airflow-providers-postgres==5.10.0